In [7]:
import pandas as pd

In [10]:
ruta =r"/workspaces/CursoUdemPregrado/analisis de datos/fususd-2024-03-19-2024-03-20-m1.csv"

In [11]:
data = pd.read_csv(ruta)

In [12]:
data

         timestamp    open    high     low   close  volume
0    1710855000000  12.117  12.157  12.117  12.156  0.2124
1    1710855060000  12.167  12.257  12.156  12.177  0.7006
2    1710855120000  12.167  12.176  12.126  12.126  0.3642
3    1710855180000  12.117  12.157  12.116  12.127  0.2212
4    1710855240000  12.127  12.167  12.127  12.156  0.1126
..             ...     ...     ...     ...     ...     ...
133  1710877680000  12.326  12.326  12.307  12.307  0.0354
134  1710877800000  12.306  12.306  12.297  12.297  0.0222
135  1710878040000  12.296  12.317  12.296  12.317  0.0376
136  1710878100000  12.307  12.307  12.307  12.307  0.0132
137  1710878340000  12.307  12.307  12.297  12.297  0.0222

[138 rows x 6 columns]

In [13]:
retornos = data.pct_change()

In [14]:
data

         timestamp    open    high     low   close  volume
0    1710855000000  12.117  12.157  12.117  12.156  0.2124
1    1710855060000  12.167  12.257  12.156  12.177  0.7006
2    1710855120000  12.167  12.176  12.126  12.126  0.3642
3    1710855180000  12.117  12.157  12.116  12.127  0.2212
4    1710855240000  12.127  12.167  12.127  12.156  0.1126
..             ...     ...     ...     ...     ...     ...
133  1710877680000  12.326  12.326  12.307  12.307  0.0354
134  1710877800000  12.306  12.306  12.297  12.297  0.0222
135  1710878040000  12.296  12.317  12.296  12.317  0.0376
136  1710878100000  12.307  12.307  12.307  12.307  0.0132
137  1710878340000  12.307  12.307  12.297  12.297  0.0222

[138 rows x 6 columns]

In [15]:
data["diferencia"] = data["close"] - data["open"]

In [16]:
data

         timestamp    open    high     low   close  volume  diferencia
0    1710855000000  12.117  12.157  12.117  12.156  0.2124       0.039
1    1710855060000  12.167  12.257  12.156  12.177  0.7006       0.010
2    1710855120000  12.167  12.176  12.126  12.126  0.3642      -0.041
3    1710855180000  12.117  12.157  12.116  12.127  0.2212       0.010
4    1710855240000  12.127  12.167  12.127  12.156  0.1126       0.029
..             ...     ...     ...     ...     ...     ...         ...
133  1710877680000  12.326  12.326  12.307  12.307  0.0354      -0.019
134  1710877800000  12.306  12.306  12.297  12.297  0.0222      -0.009
135  1710878040000  12.296  12.317  12.296  12.317  0.0376       0.021
136  1710878100000  12.307  12.307  12.307  12.307  0.0132       0.000
137  1710878340000  12.307  12.307  12.297  12.297  0.0222      -0.010

[138 rows x 7 columns]